
/* google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* general styles */
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.container {
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}

p {
    line-height: 1.8;
    color: #6A859C;
}
.hide {
    display: none !important;
}



.title-wrapper {
    margin-bottom: 60px;
}
.title {
    margin-bottom: 17px;
    
    font-size: 30px;
    line-height: 1.2;

    letter-spacing: 5px;
    text-transform: uppercase;

    color: #676770;

}
.subtitle {
    font-size: 17px;
    line-height: 1.2;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #8E8E9C;
}

.common-section {
    padding: 80px 0;
    text-align: center;
}
.common-section--dark {
    background: #192024;
}
.common-section--dark *{
    color: #FFFFFF;
}
.common-section--dark .subtitle {
    color: #e8e8e8;
}
/*_______________ header _________________*/

.header {
    padding: 20px 0;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;


    background-color: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);

}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 25px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #69B9FF;
}
.header__nav ul{
    display: flex;
}
.header__nav li + li{
    margin-left: 40px;
}

.header__nav a{
    font-size: 16px;
    color: #676770;
    transition: color 0.2s;
}
.header__nav a:hover{
    color: #0082F3;
}
.header__nav a:active{
    color: #0062b6;
}


/*________________ main __________________*/


/*______________ Welcome _________________*/

.welcome {
    min-height: 600px;
    height: 100vh;
    padding: 195px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    text-align: center;

    background-color: #282936;
    background-image: url("../img/welcome-bg.jpg");
    background-size: cover;
    background-position: center;

}

.welcome__title {
    margin-bottom: 110px;
    font-size: 59px;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.welcome__links > * + * {
    margin-left: 20px;
}
.link {
    display: inline-block;
    padding: 10px 30px;

    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;

    border: 1px solid #fff;
    border-radius: 4px;
    transition: all 0.2s ease;
}

.link:hover {
    background-color: #69B9FF;
    border-color: #69B9FF;
}
.link:active{
    background-color: #0062b6;
    border-color: #0062b6;
}

/*______________ What we do _____________*/



.about .cards-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.about .card {
    padding: 35px 15px 25px;
    max-width: 300px;

    background: #FFFFFF;
    border: 1px solid #DCEBF7;
    border-radius: 5px;
}

.about .card img {
    margin-bottom: 20px;

    width: 94px;
    height: 94px;
    object-fit: contain;
}
.about .card h4 {
    margin-bottom: 14px;

    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: #676770;
}

.about .card p {
    color: #6A859C;
}

/* ______________services__________ */


.services .cards-wrapper {
    display: flex;
    justify-content: space-between;
}
.services .card {
    width: 45%;
}
.services .card img {
    margin-bottom: 20px;
}

.services .card h4 {
    margin-bottom: 20px;

    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 7px;
    text-transform: uppercase;
}
.services .link {
    margin-top: 15px;
}


/* ________________tab section___________ */


.tabs__nav {
    margin-bottom: 50px;
}
.tabs__nav button {
    padding: 0 30px;

    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;

    background: #92A0AD;
    border-radius: 4px;

    transition: background 0.2s linear;
}
.tabs__nav button.active {
    background: #2E80B6;
}

.tabs__nav button + button {
    margin-left: 15px;
}

.tabs__item {
    animation: fade 1s;
}

@keyframes fade {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;

    }
}

.tabs__item img {
    margin-bottom: 15px;
}
.tabs__item h4 {
    margin-bottom: 15px;

    font-size: 31px;
    line-height: 36px;
    color: #676770;
}


.tabs__desc {
    max-width: 720px;
    margin: 0 auto;
}

/* ____________________footer____________- */

.footer h4 {
    margin-bottom: 25px;

    font-size: 18px;
    line-height: 1.1;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #676770;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

}
.footer__container > * {
    min-width: 220px;
    width: 30%;
    gap: 20px;
}

.footer__desc {
    margin-bottom: 35px;
}
.footer__desc li {
    position: relative;
    height: 30px;
    margin-bottom: 6px;
}
.footer__desc li:last-child {
    margin-bottom: 0;
}
.footer__desc li::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #D5D5E0;

    position: absolute;
    right: 0;
    bottom: 0;
}
.footer__desc a {
    font-size: 13px;
    color: #668CAD;
}
.footer__about {
    padding-right: 15px;
}
.footer__social li::before {
    width: calc(100% - 30px);
}
.footer__social img {
    margin-right: 10px;
    height: 20px;
    width: 20px;
    object-fit: contain;
}

.footer__copy {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #383838;
}
.footer__copy p {
    font-size: 15px;
    line-height: 1.33;
    text-align: center;
    color: #9E9E9E;
}



@media (max-width: 680px) {
    .common-section {
        padding: 40px 0;
        text-align: center;
    }

    .title-wrapper {
        margin-bottom: 30px;
    }

    .tabs__nav {
        margin-bottom: 20px;
    }
    .tabs__nav button {
        display: block;
        margin: 0 auto;
        padding: 10px 30px;
    }
    .tabs__nav button + button {
        margin-top: 10px;
        margin-left: auto;
    }
    .tabs__item h4 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .footer__container {
    justify-content: space-evenly;
    gap: 20px;
    }
    .footer li {
        height: 20px;
    }
    .footer img {
        width: 15px;
        height: 15px;
    }
    .footer__desc h4 {
        margin-bottom: 10px;
        text-align: center;
    }
    .footer ul {
        margin: 0;
    }
    .footer__about {
        padding: 0;
    }
    .footer__about p{
        text-align: center;
    }
    .footer__copy {
        height: 70px;

    }
}

@media (max-width: 600px) {

    .services .cards-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .services .card {
        width: 100%;
        margin: auto;
    }

    .services .card img {
        width: 100%;
    }

    .services .link {
        display: block;
        margin: 15px auto 0 ;
        width: 100%;
        font-size: 12px;
    }

}

@media (max-width: 400px) {
    body {
        font-size: 12px;
    }

    .header__nav li + li {
        margin-left: 15px;
    }
    .welcome__title {
        margin-bottom: 50px;
        font-size: 40px;
        line-height: 1.2;
        letter-spacing: 4px;
        text-transform: uppercase;
    }
    .welcome__links > * + * {
        margin-left: 0;
        margin-top: 10px;
    }
    .welcome__links .link {
        display: block;
        padding: 10px 30px;
    
        font-size: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
    
        border: 1px solid #fff;
        border-radius: 4px;
        transition: all 0.2s ease;
    }

    .about .card h4 {
        font-size: 16px;
    }
    .services .card h4 {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .services .link {
        display: block;
        margin: 15px auto 0 ;
        width: 100%;
        font-size: 10px;
    }
}




